/**classes uilitárias*/
.py-base{
    padding-block: var(--py-base);
}

.py-lg{
    padding-block: var(--py-lg);
}

.py-xl{
    padding-block: var(--py-xl);
}
.px-lg{
    padding-inline: var(--px-lg);
}

.container{
    --max-width: 375px;
    /* quando chegar a 375px, vai pegar os 100 e aplicar o paddin no eixo x nos dois lados da página, direita e esquerda */
    width: min(var(--max-width), 100% - var(--px-lg) * 2);
    margin-inline: auto;
}
.desktop-only{
    display: none;
}

/** Automatiza visualização em colunas para o mobile */
.even-columns{
    display: grid;
    gap: 1rem;
}
.flex{
    display: flex;
    gap: 1rem;
}
.grid{
    display: grid;
    gap: 1rem;
}
.gap-1{
    gap: 1rem;
}
.gap-1\.5{
    gap: 1.5rem;
}

.items-center{
    align-items: center;
    justify-content: center;
}

@media (width >= 80em){
    .container{
        --max-width: 90rem;
    }

    .desktop-only{
        display: initial;
    }

    /** Automatiza visualização em linhas para o desktop */
    .even-columns{
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
}
